<% 
const splideThumbnailImages = [
    { file: "demo/dummy1.jpg", alt: "ダミー1" },
    { file: "demo/dummy2.jpg", alt: "ダミー2" },
    { file: "demo/dummy3.jpg", alt: "ダミー3" },
    { file: "demo/dummy4.jpg", alt: "ダミー4" },
    { file: "demo/dummy5.jpg", alt: "ダミー5" },
  ];
%>
<div class="p-splide-thumbnail">
  <div class="p-splide-thumbnail__main splide" id="js-splide-thumbnail-main">
    <div class="p-splide-thumbnail__main-track splide__track">
      <ul class="p-splide-thumbnail__main-list splide__list">
        <% splideThumbnailImages.forEach((item) => { %>
        <li class="p-splide-thumbnail__main-item splide__slide">
          <img src="<%- imagePath %><%- item.file %>" alt="<%- item.alt %>">
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
  <div class="p-splide-thumbnail__nav splide" id="js-splide-thumbnail-nav">
    <div class="p-splide-thumbnail__nav-arrows splide__arrows">
      <button class="p-splide-thumbnail__nav-prev splide__arrow splide__arrow--prev" type="button" aria-label="Previous slide" aria-controls="js-splide-thumbnail-nav-track"></button>
      <button class="p-splide-thumbnail__nav-next splide__arrow splide__arrow--next" type="button" aria-label="Next slide" aria-controls="js-splide-thumbnail-nav-track"></button>
    </div>
    <div class="p-splide-thumbnail__nav-track splide__track">
      <ul class="p-splide-thumbnail__nav-list splide__list">
        <% splideThumbnailImages.forEach((item) => { %>
        <li class="p-splide-thumbnail__nav-item splide__slide">
          <img src="<%- imagePath %><%- item.file %>" alt="<%- item.alt %>">
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>